body {
    /*text-align: center;*/
    /*padding-top: 0;*/
    background-color: green;
    overflow: hidden;
    height: 400px;
}
.out_body {
    position: relative;
    background-color: blue;
    height: auto !important;
    /*height: 500px;*/
    min-height: 100px;
    width: auto !important;
    /*width: 50px;*/
    min-width: 100px;

    /*设置页面内容最大宽度,超过后居中*/
    max-width: 1080px;

    /*设置div在父控件中居中,且会根据页面动态调整居中*/
    margin: 0 auto;

    text-align: center;
}
/*主体内容容器*/
.content_container {
    /*background-color: red;*/
    /*float: top | left;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    position: absolute;
    /*float: left;*/
    left: 0;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    max-width: 1000px;
    z-index: 10;

    text-align: center;
}

/*.container {*/
    /*padding-top: 0px;*/
    /*z-index: 0;*/
    /*margin-top: 0px;*/
/*}*/

.wedding_text_container {
    margin-top: 20px;
    /*width: 408px;*/
    height: 400px;
    /*text-align: center;*/
}

.wedding_text_container .wedding_text_img {
    max-width: 408px;
    max-height: 300px;

    /*-webkit-animation:all 3s linear infinite;*/

    /*transition:All 4s ease-in-out;*/
	/*-webkit-transition:All 4s ease-in-out;*/
	/*-moz-transition:All 4s ease-in-out;*/
	/*-o-transition:All 4s ease-in-out;*/
}

.backgroundmusic_button {
    position: absolute;
    right: 5px;
    top: 350px;
    /*background-image: url(../images/backgroundmusic_playing.png);*/
    background-color: rgba(255,255,255,0);
    border: none;
    outline: none;
}

.backgroundmusic_button img {
    width: 35px;
    height: 35px;

    animation: rotateImg 5s linear infinite;
    -webkit-animation:rotateImg 5s linear infinite;
}

/*玫瑰花瓣*/
.rose_petal_container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: beige;
    text-align: center;
}

.float_rose_petal {
    position: absolute;
    top: -30px;

    /*-webkit-animation:rotateImg 6s linear infinite;*/
}

/*一直旋转*/
@keyframes rotateImg {
    0% {transform : rotate(0deg);}
    100% {transform : rotate(360deg);}
}

@-webkit-keyframes rotateImg {
    0%{-webkit-transform : rotate(0deg);}
    100%{-webkit-transform : rotate(360deg);}
}

/*停止旋转*/
@keyframes stopRotateImg {
    0% {transform : rotate(0deg);}
    100% {transform : rotate(0deg);}
}
@-webkit-keyframes stopRotateImg {
    0%{-webkit-transform : rotate(0deg);}
    100%{-webkit-transform : rotate(0deg);}
}


/*屏幕响应式*/
@media screen and (max-width: 800px) {
    .wedding_text_container {
        height: 300px;
    }
    .wedding_text_container .wedding_text_img {
        max-width: 326.4px;
        max-height: 240px;
    }
}
@media screen and (max-width: 450px) {
    .wedding_text_container {
        height: 200px;
    }
    .wedding_text_container .wedding_text_img {
        max-width: 204px;
        max-height: 150px;
    }
}
