<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>

    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
      <!-- 包括所有已编译的插件 -->
      <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            console.log("---xpppp")
            var bgm_audo = $(".bgm");//.get(0);
            console.log(bgm_audo);
            console.log("--")
            bgm_audo = bgm_audo.get(1);
//            console.log(bgm_audo.get(0));
            bgm_audo.volume = 0.01;
            bgm_audo.play();
            console.log("------")
            function haha() {
                console.log("--123--")
            }



            $(".button").click(function () {
                console.log("-----button-")
//                bgm_audo.volume = 0.2;
                $("#bgmm").animate({volume:0.5},3000);
                $(".button").animate({height: "50px"},3000);
            })

        });
//        $(document).onload(function () {
//
//        });
//        function buttonClick() {
//            console.log("--button--");
////            $(".bgm").get().animate({left:'150px'}, 3000, haha());
//            $(".bgm").get().animate({left: '200px'}, 4000, haha());
//
//        }
    </script>

</head>
<!--<body background="./images/together_2.jpg">-->
<body>
    <audio src="sources/Silent.mp3" loop controls class="bgm">
        hahah
    </audio>
    <audio src="sources/Silent.mp3" loop controls class="bgm"id="bgmm">
        hahah
    </audio>
    <button class="button">按钮</button>
    <div class="out_body">
        <img src="./images/together_2.jpg" class="img-responsive" alt="Cinque Terre">
        <div class="content_container">

            <div class="wedding_text_container">
                <img src="images/wedding_text.png" class="wedding_text_img">
            </div>


        </div>
    </div>
    <!--<br>-->
    <!--<div class="container">-->
        <!--<img src="./images/together_2.jpg" class="img-responsive" alt="Cinque Terre">-->
        <!--<div class="test_container">-->
            <!--<h1>djsfkjlkd</h1>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>